body {
  background-color: rgb(23, 27, 33);
  color: #fff;
}
header {
  width: 100%;
  background-color: rgb(1, 4, 9);
  text-align: center;
  height: 35px;
  height: fit-content;
}
h1 {
  font-size: 28px;
}
h6 {
  font-size: 15px;
}
a {
  cursor: pointer;
}
.git-hub {
  color: rgb(83, 64, 101);
}
div .banner {
  width: 100%;
}
.banner_border {
  background-image: url(/banner2.png);
  width: 100%;
  height: 65vh;
  background-size: cover;
  position: relative;
}
.self-pic {
  z-index: 3;
  width: 100px;
  border-radius: 50%;
  border: 5px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.self-pic {
  z-index: 3;
  width: 100px;
  border-radius: 50%;
  border: 5px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-left: 5px;
  margin-top: 20px;
  transform: translate(30%, 4%);
}
.name {
  margin-left: -10px;
  transform: translate(5%, 4%);
  margin-top: 10px;
}
article {
  border: 2px solid #fff;
  width: 48%;
  margin-left: 10px;
}
article h4 {
  padding: 6px;
  text-decoration: underline;
}
.about-me {
  padding: 6px;
}
.main-info {
  background-color: #7bc1dc;
  width: 50%;
  margin-left: 25%;
  margin-bottom: 25%;
  border-radius: 5%;
  padding: 8px;
  height: auto;
}
.spliter {
  width: 100%;
  background-color: #fff;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
.spliter-head {
  width: 100%;
  background-color: #fff;
  height: 1px;
}
.main-info-head {
  text-align: center;
  margin-bottom: 2vh;
  text-decoration: underline;
  text-underline-position: under;
  font-size: 28px;
  font-weight: bold;
}
footer {
  bottom: 0;
  width: 100%;
  height: 12rem;
  background-color: rgb(1, 4, 9);
}
.footer-info {
  width: 100%;
  height: calc(100% - 38px);
  display: flex;
  margin-top: 6px;
  padding: 0 25%;
  justify-content: space-between;
  align-items: center;
}

footer h3 {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  text-decoration: underline;
  text-underline-position: under;
}
.jordan-logo {
  width: 100px;
  height: 100px;
  border: 2px solid black;
  border-radius: 50%;
}
.jordan-site {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hotel-logo {
  width: 100px;
  height: 100px;
  border: 2px solid black;
  border-radius: 50%;
}
.hotel-site {
  display: flex;
  flex-direction: column;
  align-items: center;
}
span {
  text-align: center;
}
